html {
    background-color: transparent;
        background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
}

.overlay {
    opacity: 0;
    transition: opacity 3s;

    position: absolute;
    left: 0;
    bottom: 15vmin;

    max-width: calc(100vw - 2 * 5vmax);

}

.line {
    padding: 0.2em;
    padding-left: 13vmax;
    padding-right: 0.8em;

    left: -1vmax;

    background-color: white;

    white-space: nowrap;
    /* overflow: hidden; */

    position: relative;

    transform: skewX(-20deg);
}

.line::after {
    content: '';
    width: 1vmax;
    height: 1.6em;
    background-color: white;

    position: absolute;
    top: 0;
    right: -2vmax;
}

.line span {
    display: inline-block;
    transform: skewX(20deg);

}